<header class="flex p-0 mx-20 mt-9 justify-between items-center bg-transparent">
  <!-- Logo + Nome -->
  <a class="flex items-center space-x-3" href="/">
    <img
      src="assets/zynesx/logo.png"
      alt="Logo da Zynesx"
      class="h-14 rounded-lg p-1"
    />
    <span class="text-3xl font-extrabold text-white tracking-wide">ZyNesx</span>
  </a>

  <!-- Navegação -->
  <nav class="flex space-x-10 pr-20 text-lg font-medium">
    <a
      href="login"
      class="relative text-md text-white after:absolute after:left-0 after:bottom-0 after:w-full after:h-[2px] after:bg-white after:scale-x-0 after:origin-right after:transition-transform after:duration-300 hover:after:scale-x-100 hover:after:origin-left hover:[transform:scale(1.05)]"
    >
      Login
    </a>

    <a
      href="register"
      class="relative text-white after:absolute after:left-0 after:bottom-0 after:w-full after:h-[2px] after:bg-white after:scale-x-0 after:origin-right after:transition-transform after:duration-300 hover:after:scale-x-100 hover:after:origin-left hover:[transform:scale(1.05)]"
    >
      Register
    </a>
  </nav>
</header>
